/* font types */
.bold {
	font-weight:bold !important;
}
.normal_weight {
	font-weight:normal !important;
}
.italic {
    font-style:italic;
}
/* Just line heights */
.line_height_normal {
	line-height:normal;
}
.line_height_12 {
	line-height:12px;
}
.line_height_13 {
	line-height:13px;
}
.line_height_18 {
	line-height:18px;
}
.line_height_20 {
	line-height:20px;
}
.line_height_22 {
	line-height:22px;
}
/* */
/* Paddings and margins */
.padding_bottom_15 {
    padding-bottom: 15px;
}
.padding_bottom_5 {
    padding-bottom: 5px;
}
.padding_top_3 {
	padding-top:3px;
}
.padding_top_2 {
	padding-top:2px;
}
.padding_top_5 {
    padding-top:5px;
}
.padding_top_10{
    padding-top: 10px;
}
.padding_bottom_10 {
    padding-bottom: 10px;
}
.padding_left_3 {
	padding-left:3px;
}
.padding_0_3 {
	padding:0 3px;
}
.margin_right_5 {
	margin-right:5px;
}
.margin_right_3 {
	margin-right:3px;
}
.margin_left_25 {
	margin-left:25px;
} 
.margin_left_15 {
	margin-left:15px;
} 
.margin_left_8 {
	margin-left:8px;
}
.margin_left_5 {
	margin-left:5px;
}
.margin_left_3 {
	margin-left:3px;	
}
.margin_left_2 {
	margin-left:2px;	
}
.margin_top_1 {
	margin-top:1px;
}
.margin_top_2 {
	margin-top:2px;
}
.margin_top_3 {
	margin-top:3px;
}
.margin_top_4 {
	margin-top:4px;
}
.margin_top_5 {
	margin-top:5px;
}
.margin_top_7{
    	margin-top:7px;
}
.margin_top_10 {
	margin-top:10px;
}
.margin_top_15 {
	margin-top:15px;
}
/* */
/* Borders */
.border_1_black {
	border:1px solid #000000;
}
.border_2_ccc {
	border:2px solid #cccccc;
}
/* */
/* Just font sizes */
.font_11 {
	font-size:11px;
}
.font_17 {
	font-size:17px;
}
/* */
/* Georgia */
.georgia {
	font-family:Georgia;
}
.georgia_10 {
	font-size:10px;
	font-family:Georgia;
}
.georgia_11 {
	font-size:11px;
	font-family:Georgia;
}
.georgia_12 {
	font-size:12px;
	font-family:Georgia;	
}
.georgia_13 {
	font-size:13px;
	font-family:Georgia;	
}
.georgia_14 {
	font-size:14px;
	font-family:Georgia;	
}
.georgia_17 {
	font-size:17px;
	font-family:Georgia;	
}
.georgia_24 {
	font-size:24px;
	font-family:Georgia;
}
/* Verdana */
.verdana_10 {
	font-size:10px;
	font-family:Verdana;	
}
.verdana_12 {
	font-size:12px;
	font-family:Verdana;	
}
/* Arial */
.arial_8 {
	font-size:8px;
	font-family:Arial;	
}
.arial_9 {
	font-size:9px;
	font-family:Arial;	
}
.arial_10 {
	font-size:10px;
	font-family:Arial;	
}
.arial_11 {
	font-size:11px;
	font-family:Arial;	
}
.arial_12 {
	font-size:12px;
	font-family:Arial;	
}
.arial_13 {
	font-size:13px;
	font-family:Arial;	
}
.arial_14 {
	font-size:14px;
	font-family:Arial;	
}
.arial_15 {
	font-size:15px;
	font-family:Arial;	
}
.arial_16 {
	font-size:16px;
	font-family:Arial;	
}
.arial_18 {
	font-size:18px;
        font-family:Arial;
}
.arial_20 {
	font-size:20px;
	font-family:Arial;	
}
.arial_28 {
	font-size:28px;
	font-family:Arial;	
}
.arial_44 {
	font-size:44px;
	font-family:Arial;	
}

.HelveticaNeue {
	font-family:'HelveticaNeueLT57CnBold';
}

/* colors */
.ccc, a.ccc {
	color:#ccc !important;
}
.black, a.black {
	color:#000 !important;
}
.white {
	color:#fff !important;
}
.silver {
	color:#808080 !important;
}
.red {
    color:#de3021 !important;
}
.purple {
    color:#771c85 !important;
}
.light_blue {
    color:#0088CC !important;
}
.color_green {
    color:#6d983f !important;
}
.color_cc0000 {
	color:#cc0000 !important;
}
.color_1A1A1A {
	color:#1A1A1A !important;
}
.color_747474 {
	color:#747474 !important;
}
.color_666666 {
	color:#666666 !important;
}
.color_676767 {
	color:#676767 !important;
}
.color_696969 {
	color:#696969 !important;
}
.color_595959 {
	color:#595959 !important;
}
.color_444444 {
	color:#444444 !important;
}
.color_222222 {
	color:#222222 !important;
}
.color_333333 {
	color:#333333 !important;
}
.color_03497e {
	color:#03497e !important;
}
.color_000101 {
	color:#000101 !important;
}
.color_959595 {
	color:#959595 !important;
}
.color_a1a1a1 {
	color:#a1a1a1 !important;
}
.color_ACACAC {
	color:#ACACAC;
}
.color_478e94 {
	color:#478e94 !important;
}
.light_green {
	color:#34990D !important;
}
/* backgrounds */
.white_bg {
	background-color: #FFFFFF;
}
.white_bg_important {
	background-color: #FFFFFF !important;
}
.light_yellow_bg{
        background-color: #FEFFAF;
}
.blue_bg {
	background-color: #3b5998;
}

/* rounded corners */
.corners_2px {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.corners_3px {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.corners_4px {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.corners_5px {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.corners_top_5px {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.corners_10px {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.corners_15px {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.rounded_top_4 {
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.rounded_bottom_4 {
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.rounded_bottom_5 {
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.rounded_bottom_left_4 {
    -moz-border-radius: 0 0px 0px 4px;
    -webkit-border-radius: 0 0px 0px 4px;
    border-radius: 0 0px 0px 4px;
}
.rounded_top_right_4 {
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
.rounded_left_4 {
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.rounded_right_4 {
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
}

.rounded_wo_left_4 {
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
}

/* elements' properties*/
.block,
.display_block {
    display:block;
}
.visibility_hidden {
	visibility:hidden;	
}
.invisible,
.hidden,
.display_none {
	display:none;
}

.float_left, .floatleft {
	float:left;
}

.float_right, .floatright {
	float:right;
}

.nofloat {
	float: none !important;
}

.clear_first {
    clear: both;
}

.clear {
	clear: both;
	height: 1px !important;
	line-height: 1px !important;
	overflow: hidden !important;
	font-size: 1px;
}

.clear-0 {
	height: 0px !important;
	overflow: hidden !important;
	clear: both !important;
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
	line-height: 0px !important;
	font-size: 0px;
}
.clear-overlay {
	background:none !important;
	border:none !important;
	padding:0 !important;
	margin:0 !important;
}
.nopadding {
	padding:0px !important;
}
.image_margin {
	margin: 0px 5px 5px 0px;
}
.nomargin {
	margin:0px !important;
}
.margin_auto {
	margin: 0 auto !important;
}
.margin_0_20 {
	margin:0px 20px;	
}
.margin_10_0 {
	margin:10px 0px;	
}
.margin_15_0 {
	margin:15px 0px;	
}
.margin_0_10 {
	margin:0px 10px;
}
.margin_0_7 {
	margin:0px 7px;
}
.margin_3_0 {
	margin:3px 0px;
}
.margin_5_0 {
	margin:5px 0px;	
}
.margin_0_5 {
	margin:0px 5px;
}
.margin_0_2 {
	margin:0px 2px;
}
.padding_10_0 {
	padding:10px 0;
}
.padding_5 {
	padding:5px;	
}
.margin_5 {
	margin:5px;	
}
.padding_10 {
	padding:10px;	
}
.padding_5_0 {
	padding:5px 0;
}
.padding_3_0 {
	padding:3px 0;
}
.padding_0_10{
    padding:0 10px;
}

/* 
    Left margin appropriate for a
    right-floated object
*/
.margin_for_right_float {
    margin-left: 5px;
}
.margin_left_0 {
	margin-left: 0px !important;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_right_12 {
	margin-right: 10px;
}
.margin_right_15 {
	margin-right: 15px;
}
.margin_bottom_3 {
	margin-bottom: 3px;
}
.margin_bottom_5 {
	margin-bottom: 5px;
}
.margin_bottom_7 {
	margin-bottom: 7px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_bottom_11 {
	margin-bottom: 11px;
}
.hp_border {
    line-height:1px;
    font-size:1px;
}
.widthfull {
    width:100%;
}
.widthhalf {
	width:50%;
}
.width_ad {
	width:574px;
}
.inactive_link, a.inactive_link {
	color:#ccc !important;
}

.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.overflow_hidden {
	overflow:hidden;
}
.center {
	text-align:center;
}
.underline {
  text-decoration: underline;
}
.uppercase {
	text-transform:uppercase;
}
.capitalize {
	text-transform:capitalize;
}
.text_transf_none {
	text-transform:none !important;	
}
/* images */
.img_border {
	padding:2px;
	border:1px solid #cccccc;
}

.input_border {
	border:1px solid #ccc;
	padding-bottom:3px;	
}

/* borders */
.main_border {
	border:1px solid #ccc;	
}
.border_bottom_ccc {
	border-bottom:1px solid #ccc;
}
.border_dotted_ccc {
	border-bottom:1px dotted #ccc;
}
.border_bottom_337062 {
	border-bottom:1px solid #337062;
}
.border_bottom_000 {
	border-bottom:1px solid #000;
}
.border_top_ccc {
	border-top:1px solid #ccc;	
}
.border_top_e0 {
	border-top:1px solid #e0e0e0;
}
.border_top_black {
    border-top:1px solid #000;
}
.border_right_ccc {
	border-right:1px solid #e3e3e3 !important;	
}
.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}
.border_none {
	border:none;	
}

.border_for_widget {
	background-color:#E1E1E1; 
	border:10px solid #E1E1E1;	
        margin-bottom:10px;
}

.cursor_pointer {
	cursor:pointer;
}

.no_border {
	border: none !important;
}

.transparent {
	background-color:transparent;	
}

.left_top {
	left:0;
	top:0;	
}
.left_bottom {
	left:0;
	bottom:0;	
}

.shadow {
	/* shadow */
	-webkit-box-shadow: 1px 3px 4px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 3px 4px rgba(0,0,0,.09);
	box-shadow: 1px 3px 4px rgba(0,0,0,.09);	
}

.no-select {
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

/* arrows */

.arrow-left {
    display:block;
    cursor:pointer;
    width: 6px;
    height: 12px;
    float:left;
    overflow: hidden;
	background:url("/images/front-page-sprite.png?v2") no-repeat 0 0;
	text-indent: -9999px;
}

.arrow-right {
    display:block;
    cursor:pointer;
    width: 6px;
    height: 12px;
    float:left;
    overflow: hidden;
	background:url("/images/front-page-sprite.png?v2") no-repeat -10px 0;
	text-indent: -9999px;
}

.arrow-left:hover {
	background-position: 0 -12px;
}

.arrow-right:hover {
	background-position: -10px -12px;
}

.arrow-left.dark {
	background-position: 0 100%;
}

.arrow-right.dark {
	background-position: 100% 100%;
}


/* arrows with image */
.white-arrow {
	background-image:url(http://s.huffpost.com/images/grouping_icons.png);
	background-repeat:no-repeat 
	background-scroll:scroll;
	background-position: left top;
}
.white-arrow.left {
	background-position:0 -126px;
	cursor:pointer;
	float:left;
	height:11px;
	width:6px;
}
.white-arrow.center {
	background-position:0 -138px;
	float:right;
	height:11px;
	width:1px;
	margin:0 8px;
}
.white-arrow.right {
	background-position:0 -138px;
	cursor:pointer;
	float:right;
	height:11px;
	width:6px;
}

.clearfix:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
.clearfix{
    display:inline-block;
    }
html[xmlns] .clearfix{
    display:block;
    }
* html .clearfix, *+html .clearfix {
    height:1%;
}

.static-pages{
    border-right:1px solid #dfdfdf;
    width: 605px;
    padding-right: 15px;
}

/* fix for iframe ads lost in quickread */
#qr_ad iframe {visibility:visible !important}
/* END */

#ad_left_lower {border-top: 3px solid #DDDDDD;padding-top: 7px;}
